<!DOCTYPE html>
<html>
<head>
    <title>Photo</title>
     <% include ../partials/header.ejs %>
  </head>
  <body>
     <% include ../partials/navbar_registered.ejs %>

  <div class="jumbotron">
   <div class="container">

  	<div class ="text-center"> <img class = "text-center" src="<%= src %>" alt="<%= filename %>"></img>  </div>
  	<br>
  	<br>
	 <div class="row row-fluid text-center">
      <div class="col-sm-4">
      <div class="form-group">
	<form action="/photo_comments/<%= photoId %>" method="POST">
  		<input type="textarea" class="form-control" name="comment" rows="3" cols="80">
  		<br>
  	<input type="submit" class= "btn button-primary" value="Add comment">
	</form>
	</div>
	</div>
	</div>
	<% for (var i = 0; i < comments.length; i++) { %>
	<div class="container mt-3">
    <div class="media border p-3">
	    <img src="/images/avatar_icon.png" alt="<%= comments[i].username %>" class="mr-3 mt-3 rounded-circle" style="width:40px;">
	    <div class="media-body">
	      <a href="/photos/<%= comments[i].userId %>"><h4><%= comments[i].username %> <small><i></i></small></h4></a>
	      <p style="color: #000000"><%= comments[i].text %></p>      
	    </div>
	  </div>
	</div>
	 <% } %>


  </body>
</html>
